[Desktop Entry]
Name=Caffeine
Name[zh_CN]=咖啡因
Comment=A lightweight system tray application that prevents your screen from going to sleep
Comment[zh_CN]=一款防止屏幕睡眠的轻量级系统托盘应用程序
Type=Application
Exec=cosmic-ext-applet-caffeine
Terminal=false
Categories=Cosmic;Iced;
Keywords=Cosmic;Iced;
# Translators: Do NOT translate or transliterate this text (this is an icon file name)!
Icon=net.tropicbliss.CosmicExtAppletCaffeine-symbolic
StartupNotify=true
NoDisplay=true
X-CosmicApplet=true
X-CosmicHoverPopup=Auto
