[Desktop Entry]
Name=Caffeine
Comment=A lightweight system tray application that prevents your screen from going to sleep
Type=Application
Exec=cosmic-ext-applet-caffeine
Terminal=false
Categories=Cosmic;Iced;
Keywords=Cosmic;Iced;
# Translators: Do NOT translate or transliterate this text (this is an icon file name)!
Icon=net.tropicbliss.CosmicExtAppletCaffeine-symbolic
StartupNotify=true
NoDisplay=true
X-CosmicApplet=true
X-CosmicHoverPopup=Auto
